.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Blog {
  color: white;
  background-color: rgb(80, 80, 80);
  width: 40%;
  border: 2px solid white;
  border-radius: 1%;
  padding: 0.5% 1% 0.5% 1%;
  p {
    background-color: rgb(75, 71, 71);
    font-size: smaller;
    padding: 3% 5% 3% 5%;
    border: 3px white solid;
    border-radius: 1%;
  }
}

.sideNavBar {
  position: fixed;
  height: 100%;
  width: 10%;
  background-color: black;
  border-right: 1px white solid;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  label {
    color: white;
  }
}

.MidBar {
  color: white;
  background-color: rgb(41, 41, 41);
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 30%;
  margin-bottom: 50px;
}

.container {
  position: relative;
  margin-right: 7.5%;
}
.rotating {
  display: inline-block;
  position: absolute;
  transform-origin: 50% 50%;
}
.first {
  width: 100px;
  height: 100px;
  background: rgb(255, 0, 0);
  animation: rotation 5s ease-in-out infinite;
}
.second {
  width: 75px;
  height: 75px;
  top: 12.5px;
  left: 12.5px;
  background: rgb(255, 255, 0);
  animation: rotation 2s infinite;
}
.third {
  width: 50px;
  height: 50px;
  top: 25px;
  left: 25px;
  background: rgb(84, 0, 167);
  animation: rotation 3s infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
